{%
  set classes = [
    'layout-container',
  ]
%}
<div {{ attributes.addClass(classes) }}>
  <header>
    <div class="grid-container">
      <div class="layout-header cell small-12">
        {% if page.header %}
          {{ page.header }}
        {% endif %}
      </div>
    </div>
  </header>

  <main role="main" class="grid-container">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="layout-featured cell small-12">
      {{ page.featured }}
    </div>
    <div class="layout-content cell small-12">
      {{ page.content }}
    </div>
  </main>

  <footer>
    <div class="grid-container">
      <div class="layout-footer cell small-12">
        {% if page.footer %}
          {{ page.footer }}
        {% endif %}
      </div>
    </div>
  </footer>
</div>
