<div {% if type is empty %}style="background-color: {{ color.hex }}"{% endif %} class="pl-swatch bg-{{ color.name | lower }}{% if type %}-{{ type }}{% endif %}" >
      <div class="pl-swatch__hex">{{ color.name }} {% if type %}({{ type }}){% endif %}</div>
    </div>
